@import "variables";

.nav {
  height: 30px;
  width: 100%;
  font-size: 19px;
  display: flex;
  justify-content: center ;
  background-color: $secondary-color;
  box-shadow: 3px 6px 9px black;
}

.navs {
  color: $primary-color;
  text-decoration: none;
}
.navs:hover{
  color: black;
  transition: all 1000ms;
}